<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1247KOLYsHknzKoyO3uQooRcIG3vk37k</string>
	<key>GCM_SENDER_ID</key>
	<string>134397620228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.levelup.levelup</string>
	<key>PROJECT_ID</key>
	<string>level-up-e77a8</string>
	<key>STORAGE_BUCKET</key>
	<string>level-up-e77a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134397620228:ios:9090bde985bbd3f6a74551</string>
</dict>
</plist>